{% extends 'base.html' %}

{% block title %}{{ tree.name }}{% endblock %}
{% block admin_nav %}
<li><a href="{% url 'trees:addSkill' tree.id %}">Add Skill</a></li>
{% endblock %}

{% block content %}
    <br />
    <div class="tf-tree tf-custom">
        <ul>
        {% for key, values in orders.items %}
            {% for skill in skills %}
                {% if skill.name == key %}
                <li><span class="tf-nc {% if skill.checked %} checked {% else %} unchecked {% endif %}">
                    <b>{{ skill.name }}</b><br />
                    {{ skill.description }}<br />
                    {% if user.is_superuser %}<a href="{% url 'trees:editSkill' tree.id skill.id %}">Edit</a>{% endif %}
                    </span>

                {% for order, skillList in values.items %}
                    <ul>

                    {% for skillName in skillList %}
                    <li>
                        {% for skill in skills %}
                            {% if skill.name == skillName %}
                            <span class="tf-nc {% if skill.checked %} checked {% else %} unchecked {% endif %}">
                                <b>{{ skill.name }}</b><br />
                                {{ skill.description }}<br />
                                {% if user.is_superuser %}<a href="{% url 'trees:editSkill' tree.id skill.id %}">Edit</a>{% endif %}
                                </span>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}

                {% for order, skillList in values.items %}
                    {% for skill in skillList %}
                    </li>
                    {% endfor %}
                    </ul>
                {% endfor %}

                {% endif %}
                {% endfor %}


            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
