{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    {% if admin == True %}
        {% for user, treeList in trees.items %}
            <h3>{{ user.username }}</h3>
            {% for tree in treeList %}
            <div class="tree">
                <p><a href="{% url 'trees:mTreeDetail' tree.id %}">{{ tree.name }}</a></p>
            </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        {% for tree in trees %}
        <div class="tree">
            <p><a href="{% url 'trees:mTreeDetail' tree.id %}">{{ tree.name }}</a></p>
        </div>
        {% empty %}
        <div class="tree">
            <p>No trees ):</p>
        </div>
        {% endfor %}
    {% endif %}

{% endblock %}
